<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>000000</key>
	<string>接口调用成功</string>
	<key>000001</key>
	<string>未获取到账号</string>
	<key>000002</key>
	<string>未获取到密码</string>
	<key>000003</key>
	<string>用户名或者密码错误</string>
	<key>000004</key>
	<string>用户已经存在</string>
	<key>000005</key>
	<string>数据库异常</string>
	<key>000007</key>
	<string>用户密码错误</string>
	<key>000011</key>
	<string>未获取到产品详情</string>
	<key>000021</key>
	<string>未获取到品牌详情</string>
	<key>000022</key>
	<string>品牌列表未更新</string>
	<key>111111</key>
	<string>系统未知异常</string>
	<key>222222</key>
	<string>未获取到请求参数</string>
	<key>555555</key>
	<string>添加地址已经存在</string>
	<key>666666</key>
	<string>登录失败</string>
	<key>999999</key>
	<string>未找到对应的货品编号</string>
	<key>000099</key>
	<string>未找到对应的货品编号</string>
	<key>777777</key>
	<string>帐号或密码错误</string>
</dict>
</plist>
